// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// created by Esteban Gonzalez Tamayo Organizacion de computadores 2021-2


function Main.fact 1 
    push argument 0
    push constant 0
    eq
    if-goto END 
    push argument 0
    push argument 0
    push constant 1
    sub
    call Main.fact 1
    call Math.mult 2
    return

label END
    push constant 1 
    return