function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 128
push constant 0
push constant 512
push constant 0
push constant 256
call Bullet.new 6
pop this 0
push constant 492
push constant 128
push constant 0
push constant 512
push constant 0
push constant 256
call Bullet.new 6
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Bullet.dispose 1
pop temp 0
push this 1
call Bullet.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.setPos 3
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 77
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP1
push local 0
push constant 128
eq
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Bullet.hide 1
pop temp 0
push argument 1
call Bullet.getUp 1
pop local 1
push argument 1
push local 1
push constant 1
sub
call Bullet.setY 2
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push argument 1
call Bullet.show 1
pop temp 0
label IF_FALSE0
push local 0
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Bullet.hide 1
pop temp 0
push argument 1
call Bullet.getUp 1
pop local 1
push argument 1
push local 1
push constant 1
add
call Bullet.setY 2
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push argument 1
call Bullet.show 1
pop temp 0
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Bullet.hide 1
pop temp 0
push argument 1
call Bullet.getLeft 1
pop local 2
push argument 1
push local 2
push constant 1
add
call Bullet.setX 2
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push argument 1
call Bullet.show 1
pop temp 0
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Bullet.hide 1
pop temp 0
push argument 1
call Bullet.getLeft 1
pop local 2
push argument 1
push local 2
push constant 1
sub
call Bullet.setX 2
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push argument 1
call Bullet.show 1
pop temp 0
label IF_FALSE3
goto WHILE_EXP1
label WHILE_END1
push pointer 0
push argument 1
call Game.KYB 2
pop temp 0
push constant 0
return
function Game.KYB 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP0
push local 0
push constant 128
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 29
call String.new 1
push constant 68
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 56
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
call Bullet.setyInvert 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.staticX 2
pop temp 0
label IF_FALSE0
push local 0
push constant 50
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
not
call Bullet.staticX 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.setyInvert 2
pop temp 0
label IF_FALSE1
push local 0
push constant 57
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 0
call Bullet.setyInvert 2
pop temp 0
push argument 1
push constant 0
call Bullet.setxInvert 2
pop temp 0
label IF_FALSE2
push local 0
push constant 51
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push constant 0
not
call Bullet.setyInvert 2
pop temp 0
push argument 1
push constant 0
call Bullet.setxInvert 2
pop temp 0
label IF_FALSE3
push local 0
push constant 55
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push constant 0
call Bullet.setyInvert 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.setxInvert 2
pop temp 0
label IF_FALSE4
push local 0
push constant 49
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
push constant 0
not
call Bullet.setyInvert 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.setxInvert 2
pop temp 0
label IF_FALSE5
push local 0
push constant 54
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 1
push constant 0
call Bullet.setxInvert 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.staticY 2
pop temp 0
label IF_FALSE6
push local 0
push constant 52
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push argument 1
push constant 0
not
call Bullet.setxInvert 2
pop temp 0
push argument 1
push constant 0
not
call Bullet.staticY 2
pop temp 0
label IF_FALSE7
push constant 0
return
function Game.collision 8
push argument 0
pop pointer 0
push this 0
call Bullet.getLeft 1
pop local 0
push this 0
call Bullet.getRight 1
pop local 1
push this 1
call Bullet.getLeft 1
pop local 2
push this 1
call Bullet.getRight 1
pop local 3
push this 0
call Bullet.getUp 1
pop local 4
push this 0
call Bullet.getDown 1
pop local 5
push this 1
call Bullet.getUp 1
pop local 6
push this 1
call Bullet.getDown 1
pop local 7
push local 1
push local 3
eq
push local 0
push local 2
eq
or
push local 0
push local 3
eq
or
push local 1
push local 2
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 80
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
pop this 2
goto IF_END0
label IF_FALSE0
push constant 0
pop this 2
label IF_END0
push local 5
push local 7
eq
push local 4
push local 6
eq
or
push local 4
push local 7
eq
or
push local 5
push local 6
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 10
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 80
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
pop this 3
goto IF_END1
label IF_FALSE1
push constant 0
pop this 3
label IF_END1
push this 2
push this 3
and
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE2
push constant 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 24
call String.new 1
push constant 83
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push this 0
call Game.setPos 2
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 24
call String.new 1
push constant 83
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push this 1
call Game.setPos 2
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 26
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push this 0
call Bullet.getRebote 1
push constant 8
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push this 0
call Bullet.getRebote 1
call Output.printInt 1
pop temp 0
push this 0
call Bullet.move 1
pop temp 0
label IF_FALSE0
push this 1
call Bullet.getRebote 1
push constant 8
gt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push constant 4
call Output.moveCursor 2
pop temp 0
push this 1
call Bullet.getRebote 1
call Output.printInt 1
pop temp 0
push this 1
call Bullet.move 1
pop temp 0
label IF_FALSE1
push this 1
call Bullet.getRebote 1
push constant 8
gt
push this 0
call Bullet.getRebote 1
push constant 8
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 0
label IF_FALSE2
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
